<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Settings - Crypto-Ransomware A Command and Control Server</title>

    <style>

        html, body {
            padding: 0;
            margin: 0;
        }
        body{
            opacity: 0;
            padding-top: 3.5rem;
        }

        .nav-item{
            list-style: none;
        }
        .nav-item a:not(.navbar-brand){
            color: white !important;
            font-style: italic;
        }
        .navbar-brand{
            font-weight: 600;
        }

        .cnc_listening_status_indicator{
            margin: 0 !important;
            padding: 5px 20px !important;
        }



    </style>
    
    
</head>
<body>



	<header>
		<nav class="navbar navbar-dark fixed-top bg-dark">

            <li class="nav-item navbar-left"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item navbar-left"><a class="nav-link" href="/account">Account Settings ({{{username}}})</a></li>

            <!--<li class="nav-item active"><a class="nav-link" href="#">Center 1</a></li>-->
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="#">CRWA Command & Control</a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" href="#">Center 3</a></li>-->

            <li class="nav-item navbar-right"><a class="nav-link" href="/signout">Sign out</a></li>
            <li class="nav-item navbar-right"><a class="nav-link">
                <span class="badge badge-warning">&nbsp;</span>&nbsp; Starting Listening Service...
            </a></li>

		</nav>
	</header>

	<div class="container-fluid">

		<main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">

			<div class="container">

				<br/>
				<h2>Account Settings for {{{username}}}</h2>
				<br/>
				<br/>

				<div class="row">


					<form class="col-sm-6 col-md-6">

						<div class="form-group">
							<h4>Change Password</h4>
						</div>
						<div class="form-group">
							<label class="col-form-label" for="changepass_oldpass">Existing Password</label>
							<input type="text" class="form-control" id="changepass_oldpass" placeholder="">
						</div>
						<div class="form-group">
							<label class="col-form-label" for="changepass_newpass">New Password</label>
							<input type="password" class="form-control" id="changepass_newpass" placeholder="">
						</div>
						<div class="form-group">
							<button id="changepass_btn" type="button" class="btn btn-primary">Change Password &rarr;</button>
						</div>
					</form>

					<form class="col-sm-6 col-md-6">
						<div class="form-group">
							<h4>Add New User</h4>
						</div>
						<div class="form-group">
							<label class="col-form-label" for="adduser_username">Username</label>
							<input type="text" class="form-control" id="adduser_username" placeholder="">
						</div>
						<div class="form-group">
							<label class="col-form-label" for="adduser_password">Password</label>
							<input type="password" class="form-control" id="adduser_password" placeholder="">
						</div>
						<div class="form-group">
							<button id="adduser_btn" type="button" class="btn btn-primary">Add New User &rarr;</button>
						</div>
					</form>

				</div>
			</div>

		</main>
		</div>
	</div>


    <script type="text/javascript" src="/static_assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static_assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static_assets/bootstrap/bootstrap.min.css"/>

    <script>

        $(function(){

            // Avoid White-Flash phenomena
            $("body").animate({
                opacity: 1
            }, 750);


			$("#changepass_btn").click(()=>{
				let old_password = $("#changepass_oldpass");
				let new_password = $("#changepass_newpass");

				$.post("/changepassword", {
					old_password: old_password.val(),
					new_password: new_password.val()
				}, (data) => {
					console.log(data);
					if(data.status == "ok") {
						alert("Password successfully changed!");
					} else if (data.status == "error" && data.error_msg) {
						alert(data.error_msg);
					}
					old_password.val("");
					new_password.val("");
				});
			});


			$("#adduser_btn").click(()=>{
				let username = $("#adduser_username");
				let password = $("#adduser_password");

				$.post("/adduser", {
					username: username.val(),
					password: password.val()
				}, (data) => {
					console.log(data);
					if(data.status == "ok") {
						alert("New user added!");
					} else if (data.status == "error" && data.error_msg) {
						alert(data.error_msg);
					}
					username.val("");
					password.val("");
				});
			});

        });

    </script>

</body>
</html>