<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Crypto-Ransomware A Command and Control Server</title>

    <style>

        html, body {
            padding: 0;
            margin: 0;
        }
        body{
            opacity: 0;
            padding-top: 3.5rem;
        }

        .nav-item{
            list-style: none;
        }
        .nav-item a:not(.navbar-brand){
            color: white !important;
            font-style: italic;
        }
        .navbar-brand{
            font-weight: 600;
        }

        .cnc_listening_status_indicator{
            margin: 0 !important;
            padding: 5px 20px !important;
        }



    </style>
    
    
</head>
<body>



	<header>
		<nav class="navbar navbar-dark fixed-top bg-dark">

            <li class="nav-item navbar-left"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item navbar-left"><a class="nav-link" href="/account">Account Settings ({{{username}}})</a></li>

            <!--<li class="nav-item active"><a class="nav-link" href="#">Center 1</a></li>-->
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="#">CRWA Command & Control</a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" href="#">Center 3</a></li>-->

            <li class="nav-item navbar-right"><a class="nav-link" href="/signout">Sign out</a></li>
            <li class="nav-item navbar-right"><a class="nav-link">
                <span class="badge badge-warning">&nbsp;</span>&nbsp; Starting Listening Service...
            </a></li>

		</nav>
	</header>

	<div class="container-fluid">

		<main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
            <br/>
			<h2>Clients</h2>
            <br/>

			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Identifier</th>
					<th>Enc/Decrypt Key</th>
					<th>Username</th>
					<th>No. of Files Encrypted</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>0</td>
					<td>rj2309dj2093f2ir930ieworjweoe==</td>
					<td>martin</td>
					<td>60 of 70</td>
					<td><button class="btn btn-danger">Kill Switch</button></td>
				</tr>
				<tr>
					<td>1</td>
					<td>dm39r2u9uru092djkqojwdoihf20==</td>
					<td>test</td>
					<td>10 of 20</td>
					<td><button class="btn btn-danger">Kill Switch</button></td>
				</tr>
				</tbody>
			</table>
			</div>
		</main>
		</div>
	</div>


    <script type="text/javascript" src="/static_assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static_assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static_assets/bootstrap/bootstrap.min.css"/>

    <script>

        $(function(){

            // Avoid White-Flash phenomena
            $("body").animate({
                opacity: 1
            }, 750);

        });

    </script>

</body>
</html>