<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pay below to regain control of your files...</title>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,400');

		html, body{
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			font-family: 'Yantramanav', sans-serif;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		#app{
			min-height: 200px;
			max-width: 750px;
			position: relative;
			top: -30px;	/* Just a nudge biased to the top of the page (due to bit wallet addr padding)*/

			/*background: red;*/
			text-align: center;

		}

		h1.hello_title{
			padding: 0;
			margin: 0;
			padding-bottom: 30px;
			position: relative;
			top: 25px;

			font-weight: 100;
			font-size: 80pt;
			color: #555;
			opacity: 0;

			-webkit-animation: anim_hello 1200ms ease-in-out 0ms 1 forwards;
			-moz-animation: anim_hello 1200ms ease-in-out 0ms 1 forwards;
			animation: anim_hello 1200ms ease-in-out 0ms 1 forwards;
		}

		p.ransom_paragraph{
			padding-bottom: 56px;
			font-size: 16pt;
			font-weight: 400;
			color: #111;
			opacity: 0;

			-webkit-animation: anim_para_and_bitcoin 700ms ease-in-out 1400ms 1 forwards;
			-moz-animation: anim_para_and_bitcoin 700ms ease-in-out 1400ms 1 forwards;
			animation: anim_para_and_bitcoin 700ms ease-in-out 1400ms 1 forwards;
		}

		code.bitcoin_wallet_address{
			padding: 10px;
			border-radius: 5px;

			font-size: 14pt;
			background: #eee;
			opacity: 0;

			-webkit-animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
			-moz-animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
			animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
		}

		div.bitcoin_assistance{
			padding-top: 15px;

			font-size: 12pt;
			opacity: 0;

			-webkit-animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
			-moz-animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
			animation: anim_para_and_bitcoin 900ms ease-in-out 1400ms 1 forwards;
		}
		div.bitcoin_assistance a{
			color: #3f8fd2 !important;
		}



		/* Animations */
		@-webkit-keyframes anim_hello {
			from { opacity: 0; top: 25px; }
			to { opacity: 1; top: 0px; }
		}
		@-moz-keyframes anim_hello {
			from { opacity: 0; top: 25px; }
			to { opacity: 1; top: 0px; }
		}
		@keyframes anim_hello {
			from { opacity: 0; top: 25px; }
			to { opacity: 1; top: 0px; }
		}

		@-webkit-keyframes anim_para_and_bitcoin {
			from { opacity: 0; }
			to { opacity: 1; }
		}
		@-moz-keyframes anim_para_and_bitcoin {
			from { opacity: 0; }
			to { opacity: 1; }
		}
		@keyframes anim_para_and_bitcoin {
			from { opacity: 0; }
			to { opacity: 1; }

	</style>
</head>
<body>
	<div id="app">
		<h1 class="hello_title">Hello, {{{username}}}!</h1>
		<p class="ransom_paragraph">Important files stored on your computer have been encrypted and rendered inaccessable. If you would like to regain control of these files, please kindly send 1 BitCoin (approx. &#163;12357) to the BitCoin Wallet address below...</p>
		<code class="bitcoin_wallet_address">{{{bitcoin_address}}}</code>
		<div class="bitcoin_assistance"><a href="https://bitcoin.org/en/getting-started" target="_blank">&#8505; Need assistance purchasing bitcoin?</a></div>
	</div>
</body>
</html>