<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting to {{{redirect_url}}}</title>
    <meta http-equiv="refresh" content="0;URL='{{{redirect_url}}}'" />

    <script>
        a = setTimeout(()=> {
            document.location = "{{{redirect_url}}}";
        }, 1000);
    </script>
</head>
<body>

</body>
</html>